In [1]:
# Show the distribution of male and female

import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv")

In [17]:
# Distribution of Male & Female
df.groupby('Gender').describe().transpose()

Gender                       F             M
Count      count  5.588460e+05  4.575490e+05
           mean   2.931092e+01  4.161565e+01
           std    7.596299e+01  1.180743e+02
           min    5.000000e+00  5.000000e+00
           25%    6.000000e+00  7.000000e+00
           50%    1.000000e+01  1.200000e+01
           75%    2.300000e+01  2.900000e+01
           max    3.634000e+03  4.167000e+03
Id         count  5.588460e+05  4.575490e+05
           mean   2.793178e+06  2.877176e+06
           std    1.658818e+06  1.643518e+06
           min    1.135000e+04  2.407700e+04
           25%    1.242540e+06  1.325498e+06
           50%    2.807898e+06  2.867541e+06
           75%    4.333052e+06  4.241792e+06
           max    5.634124e+06  5.647426e+06
Unnamed: 0 count  5.588460e+05  4.575490e+05
           mean   2.793177e+06  2.877175e+06
           std    1.658818e+06  1.643518e+06
           min    1.134900e+04  2.407600e+04
           25%    1.242539e+06  1.325497e+06
           50%    2.807898e+06  2.867540e+06
           75%    4.333051e+06  4.241791e+06
           max    5.634123e+06  5.647425e+06
Year       count  5.588460e+05  4.575490e+05
           mean   2.009026e+03  2.009086e+03
           std    3.137428e+00  3.139039e+00
           min    2.004000e+03  2.004000e+03
           25%    2.006000e+03  2.006000e+03
           50%    2.009000e+03  2.009000e+03
           75%    2.012000e+03  2.012000e+03
           max    2.014000e+03  2.014000e+03